@import "compass/utilities/sprites";

@import "sprites/icons/*.png";

@mixin iconSize($size) {
	width: $size;
	height: $size;
}

$icons-layout:smart;
$icons-sprite-dimensions: true;
$icons-use-percentages: true;

@include all-icons-sprites;

.icon {
	background-size: 100%;
	&.small {
		@include iconSize(36px);
	}

	&.medium {
		@include iconSize(64px);
	}

	&.big {
		@include iconSize(128px);
	}
}
